<div>
    <img src="assets/image/landing2.jpg" alt="Background" class="background" />

    <div class="container">
        
      
        <div class="overlay">
          <div class="top-right">
            <span class="link"(click)="goToAdmin()">ADMIN</span>
            <span class="link"(click)="goToLogin()">USER</span>
          </div>
          <div class="left-center">
            <h1 class="welcome">WELCOME</h1>
            <h2 class="to">TO</h2>
            <h1 class="cricplay">
              <span>C</span><span>R</span><span>I</span><span>C</span>
              <span>P</span><span>L</span><span>A</span><span>Y</span>
            </h1>
          </div>
        </div>
      </div>
      
</div>