<app-navbar></app-navbar>

<div class="registration-container">

  <div class="form-container">
    <h2>Create Tournament</h2>
    
    <form [formGroup]="tournamentForm" (ngSubmit)="onSubmit()">
      
    <label for="location">Location</label>
    <input id="location" formControlName="location" type="text" placeholder="Enter Location" required>
    
    <label for="teamSize">Team Size</label>
    <input id="teamSize" formControlName="teamSize" type="number" placeholder="Enter Team Size" required>
    
    <label for="date">Date</label>
    <input id="date" formControlName="date" type="date" required>

    <label for="sponsors">Total Number of Sponsors</label>
    <input id="sponsors" formControlName="sponsors" type="number" placeholder="Enter Number of Sponsors" required>
    
    <label for="supportStaff">Support Staff</label>
    <input id="supportStaff" formControlName="supportStaff" type="number" placeholder="Enter Number of Support Staff" required>
    
    <button type="submit" [disabled]="tournamentForm.invalid" class="submit-btn">Submit</button>
  </form>
</div>
</div>